<!DOCTYPE html>
<html>
  <head>
      <title>Doodler</title>
  </head>
  <body>
    <div id="root"></div>
    <div>
        <script src="{{ manifest_url_for("main.js") }}"></script>
        <script src="{{ manifest_url_for("vendor.js") }}"></script>
    </div>
  </body>
</html>
